.hidden {
    visibility: hidden;
}

.nodisp {
    display: none;
}

.error {
    color: red;
    font-weight: bold;
}

#widgetContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}