.widget-rotationMatch-container {
    display: flex;
    flex-direction: row;
}

.widget-rotationMatch-button-container {
    display: flex;
    flex-direction: column;
    width: 30px;
    justify-content: space-evenly;
    padding-left: 5px;
}

.widget-rotationMatch {
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: gray;
}

@keyframes widget-rotationMatch-rotatingAnim {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.widget-rotationMatch-rotating {
    animation: widget-rotationMatch-rotatingAnim 2s linear infinite;
}

.widget-rotationMatch-increaseButton {
    border: 4px solid #d67d34;
    transform: rotate(225deg);    
}

.widget-rotationMatch-decreaseButton { 
    border: 4px solid #2e5fff;
    transform: rotate(45deg);
    background-color:white;
}

.widget-rotationMatch-increaseButton, .widget-rotationMatch-decreaseButton{
    width: 15px;
    height: 15px;
    border-left: 0;
    border-top: 0;
    left: calc(100% + 15px);
    background-color:white;
}

.widget-rotationMatch-increaseButton:focus, .widget-rotationMatch-decreaseButton:focus{
    outline: 0;
}