.widget-shape-container, .widget-shape {
    height: 100px;
    width: 100px;
}

.widget-shape-container {
    background-color: black;
}

.widget-shape {
    position: relative;
}

/** This is default! */
/* .widget-shape-square {} */

.widget-shape-rectangle {
    top: 25px;
    height: 50px;
}

.widget-shape-circle {
    border-radius: 50%;
}

.widget-shape-pill {
    border-radius: 100px / 50px;
}

.widget-shape-oval {
    top: 25px;
    height: 50px;
    border-radius: 50px / 25px;
}

.widget-shape-chevron-up, .widget-shape-chevron-down {
    height: 60px;
    width: 60px;
    left: 15px;
}

.widget-shape-chevron-up {
    top: 30px;
    transform: rotate(225deg);
}

.widget-shape-chevron-down {
    transform: rotate(45deg);
}

.widget-shape-triangle-up, 
.widget-shape-triangle-down, 
.widget-shape-triangle-left, 
.widget-shape-triangle-right,
.widget-shape-triangle-top-left,
.widget-shape-triangle-top-right,
.widget-shape-triangle-bottom-left,
.widget-shape-triangle-bottom-right {
    width: 0;
    height: 0;
}

.widget-shape-triangle-up, .widget-shape-triangle-down {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.widget-shape-triangle-left, .widget-shape-triangle-right {
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.widget-shape-triangle-top-left, .widget-shape-triangle-bottom-left {
    border-right: 100px solid transparent;
}

.widget-shape-triangle-top-right, .widget-shape-triangle-bottom-right {
    border-left: 100px solid transparent;
}

.widget-shape-curved-tail-arrow {
    top: 30px;
    left: 48px;
    position: relative;
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    transform: rotate(10deg);
}
.widget-shape-curved-tail-arrow:after {
    content: "";
    position: absolute;
    border-right: 0 solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-radius: 100px 0 0 0;
    top: -60px;
    left: -45px;
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
}

.widget-shape-trapezoid {
    top: 25px;
    left: 12px;
    width: 50px;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
}

.widget-shape-parallelogram {
    top: 25px;
    left: 12px;
    width: 75px;
    height: 50px;
    transform: skew(20deg);
}

.widget-shape-star-6 {
    top: 1px;
    left: 11px;
    width: 0;
    height: 0;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
    position: relative;
}
.widget-shape-star-6:after {
    width: 0;
    height: 0;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
    position: absolute;
    content: "";
    top: 23px;
    left: -38px;
}

.widget-shape-star-5 {
    top: 33px;
    left: 2px;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    transform: rotate(35deg);
}
.widget-shape-star-5:before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -23px;
    left: -33px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
.widget-shape-star-5:after {
    position: absolute;
    display: block;
    top: 2px;
    left: -53px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    transform: rotate(-70deg);
    content: '';
}